.form-input {
    height: 35px;
    margin-bottom: 10px;
}
.user{
    // margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user a{
    color: blue;
    cursor: pointer;
}

.commen-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 300px;
}
.title{
    margin-bottom: 100px;
}
.form-button{
    height: 35px;
}
button:disabled{
    cursor: not-allowed;
}