<div class="add-product">
    <h1 class="title">Update Product</h1>
    <p class="error" >{{updatedMessage}}</p>
    <form #addProduct="ngForm" className="commen-form" (ngSubmit)="submit(addProduct.value)">
        <input class="form-input" ngModel="{{productData?.name}}" type="text" name="name" placeholder="Enter Product Name">
        <input class="form-input" ngModel="{{productData?.price}}"  name="price" placeholder="Enter Product Price">
        <input class="form-input" ngModel="{{productData?.category}}"  name="category" placeholder="Enter Product Category">
        <input class="form-input" ngModel="{{productData?.category}}"  name="color" placeholder="Enter Product Color">
        <textarea class="form-input" ngModel="{{productData?.description}}"  name="description" placeholder="Enter Product Description"></textarea>
        <input class="form-input" ngModel="{{productData?.image}}"  name="image" placeholder="Enter Product Image">
        <button class="btn btn-outline-success" type="submit">Update Product</button>
    </form>
</div>
